*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: 'Barlow', sans-serif;
    height: 100vh;
    background-image: url(../../images/moon-bg.jpg);
    background-size:100% 100%;
    background-position: 100%;
    background-repeat: no-repeat;
}
